
@{
    ViewBag.Title = "Edit";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:80px">Edit</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset style="font-size:x-large;text-align:center">
        <div class="editor-field">
            Tên loại:
            @Html.TextBox("TenTL")
            @ViewData["Error"]
        </div>
        <p>
            <input type="submit" value="Save" style="margin-top:20px" />
        </p>
    </fieldset>
}
<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>
