
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:100px">Xác nhận đơn hàng thành công </h2>
<h2>Cảm ơn quý Khách đã đặt hàng tại HutechBook.</h2>
<a href="https://localhost:44339/">Quay trở về trang chủ</a>

